.main {
    background-color: rgb(255, 217, 252);
    margin: 30px auto;
    padding: 10px 20px;
    width: 960px;
    border-radius: 15px;
    flex-direction: row;
}

.aside1, .aside2 {
    background: rgb(255, 217, 252);
    flex-basis: calc((100% - 960px) / 2);
    padding: 20px;
}

@media (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media (max-width: 800px) {
    .aside1, .aside2 {
        display: none;
    }
}

.post {
    border-style: dotted;
    border-color: hotpink;
    border-radius: 15px;
    padding: 20px;
}

.postHeader {
    width: 95%;
    padding: 1%;
    display: flex;
    flex-direction: row;
}
.postContent {
    display: flex;
    flex-direction: row;
}
.post * h1 {
    margin-left: auto;
    float: right;
}

.post h1::first-letter {
    font-size: 30px;
    color: hotpink;
}

.postIcon {
    float: left;
    max-height: 150px;
    width: auto;
    margin: 5px 5px 5px 0;
    padding-right: 2%;
    
}
