/*jou jou karl siin.. mul on mõni mureke selle lehega :/ 
1. Ma ei oska panna kuup'eva olema postituse paremas nurgas, samal real pealkirjaga. tal on float right, aga ta ei floati right! 
    Ma kardan, et see on mingi flexboxi kamm...
2. Ülemine banner ei näe kena välja kitsa ekraani peal, aga seal on ka flexbox ja ma olen flexboxiga abitu!!!
3. Leegid ulatuvad oma aside-ist allapoole välja
4. Dislike'id peab ka tegema!!!
*/

.main {
    background-color: rgb(255, 217, 252);
    margin: 10px auto;
    padding: 10px 20px;
    min-width: 350px;
    max-width: 60%;
    border-radius: 15px;
    flex-direction: row;
}

.aside1, .aside2 {
    background: rgb(255, 217, 252);
    flex-basis: calc((100% - 960px) / 2);
    padding: 20px;
    max-width: 20%;
    overflow: hidden;
}

@media (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media (max-width: 800px) {
    .aside1, .aside2 {
        display: none;
    }
}

.post {
    margin: 15px auto;
    border-style: dotted;
    border-color: hotpink;
    border-radius: 15px;
    padding: 20px;
}

.postHeader {
    width: 95%;
    margin: auto;
    padding: 1%;
    display: flex;
    flex-direction: row;
}
.postContent {
    display: flex;
    flex-direction: row;
}
.title {
    padding-right: 8px;
    font-size: 20px;
}

.post h1::first-letter {
    font-size: 25px;
    color: hotpink;
}

.userIcon {
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 0;
    padding-right: 2%;   
}

.postImage {
    float: left;
    max-width: 30%;
    object-fit: contain;
    margin: 5px 5px 5px 0;
    padding-right: 2%;   
}

.leegid {
    width: 100%;
    height: 100%;
    
    background-image: url(vudinad_ja_vidinad/leegid.gif);
}

.pinned {
    color: hotpink;
}

.date {
    float: right;
    padding-left: 4px;
    border-left: 2px solid black;
}
