/*jou jou karl ja pärl siin.. mul on mõni mureke selle lehega :/ 
2. Ülemine banner ei näe kena välja kitsa ekraani peal, aga seal on ka flexbox ja ma olen flexboxiga abitu!!!
3. FLEXBOS ilusaks please please me ei oska :( 
    4. väikse ekraaniga läheb ekraanist välja meie arvutites :?
*/

.main {
    background-color: rgb(255, 217, 252);
    margin: 10px auto;
    padding: 10px 20px;
    min-width: 350px;
    max-width: 60%;
    border-radius: 15px;
    flex-direction: row;
    display: block;
}

.aside1, .aside2 {
    background: rgb(255, 217, 252);
    flex-basis: calc((100% - 960px) / 2);
    padding: 20px;
    max-width: 20%;
    overflow: hidden;
}

@media (min-width: 800px) {
    .main {
        flex: 3;
    }

    .aside1 {
        order: 1;
    }

    .aside2 {
        order: 2;
    }

    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }
}

@media (max-width: 800px) {
    .aside1, .aside2 {
        display: none;
    }
}

.post {
    margin: 15px auto;
    border-style: dotted;
    border-color: hotpink;
    border-radius: 15px;
    padding: 20px;
}

.postPinned{
    float: left;
}

.postHeader {
    width: 95%;
    margin: auto;
    padding: 1%;
    display: flex;
    flex-direction: row;
}
.postContent {
    border-radius: 15px;
    background-color: rgb(245, 189, 240);
    display: flex;
    flex-direction: column;
}

.postDislikes{
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 1%;
}
.title {
    padding-right: 8px;
    font-size: 20px;
}

.post h1::first-letter {
    font-size: 25px;
    color: rgb(174, 47, 111);
}

.userIcon {
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px 5px 5px 0;
    padding-right: 2%;   
}

.userName{
    margin-top: auto;
    margin-bottom: auto;
}

.postImage {
    align-self: center;
    max-width: 60%;
    object-fit: contain;
    margin: 5px 5px 5px 0;
    padding-right: 2%;   
}

.leegid {
    width: 100%;
    height: 100%;
    
    background-image: url(vudinad_ja_vidinad/leegid.gif);
}

.pinned {
    color: rgb(174, 47, 111);
    margin:0;
}

.date {
    margin-left: auto;
    padding-left: 4px;
    border-left: 2px solid black;
}

.dislikesImg{
    height:10%;
    width: 10%;
    display: inline;
}

.dislikesImg:hover{
    cursor: pointer;
    opacity: 70%;
}
.postDislikesP{
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
}
