html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(vudinad_ja_vidinad/glitter.gif);
    box-sizing: border-box;
}
.header {
    background-color: hotpink;
    width: 100%;
    height: 70px;
    padding-top: 1%;

}
header {
    font-size: 40px;
    margin: auto;
    padding-left: 20px;
    display: inline;
}
.icon {
    height: 60px;
    width: auto;
    margin: 5px 5px 5px 0;
    float: right;
    display: inline;
}
.main {
    background-color: rgb(255, 217, 252);
    margin: 30px auto;
    padding: 10px 20px;
    min-width: 400px;
    max-width: 60%;
    border-radius: 15px;
}

.button:hover {
    opacity: 0.6;
}