html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(vudinad_ja_vidinad/glitter.gif);
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: space-between;
}

.wrapper > *{
    padding: 10px;
    padding-bottom: 0px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 144, 200);
    width: 100%;
    height: 70px;
    padding-top: 1%;
    padding-left: 30px;
    position: sticky;

}
header {
    font-size: 40px;
    margin: auto;
    float: left;
    text-align: left;
    display: inline;
}
footer{
    margin: auto;
    float: left;
    display: inline;
}

.footer{
    display: flex;
    background-color: rgb(255, 144, 200);
    width: 100%;
    height: 50px;
    padding-top: 1%;
    padding-left: 30px;
    position: sticky;
}
.icon {
    height: 60px;
    width: auto;
    margin: 5px 5px 5px 0;
    float: right;
    padding-right: 2%;
    display: inline;
}
.main {
    background-color: rgb(255, 217, 252);
    margin: 30px auto;
    padding: 10px 20px;
    min-width: 350px;
    max-width: 60%;
    border-radius: 15px;
}
nav {
    width: 30%;
    padding-top: 1%;
}

nav a {
    font-size: 25px;
    color: black;
    padding: 1%;
    padding-bottom: 1%;
    border-radius: 15px;
}

nav a:link {
    text-decoration: none;
}

nav a:hover {
    background-color: pink;
}

@media (max-width: 800px) {
    body {
        flex-flow: column wrap;
    }
}